  <form id="login" action="/login" method="post">
    <table id="loginTable">
      <tr>
        <th colspan="2">Administrator Login</th>
      </tr>
      <tr>
        <td>UserID:</td>
        <td><input id="user" name="user" type="text"></td>
      </tr>
      <tr>
        <td>Password:</td>
        <td><input id="pass" name="pass" type="password"></td>
      </tr>
      <tr>
        <td>&nbsp;</td><td class="buttons"><input type="submit" value="Login"></td>
      </tr>
      <tr>
        <td>&nbsp;</td><td class="buttons"><input type="Reset" value="Reset Form"></td>
      </tr>
    </table>
  </form>
  <p id="status"></p>
  <script src="/js/jquery-2.2.0.min.js?version=020620161319"></script>
  <script src="/js/app.js"></script>